@import "variables";
@import "icons";

body {
  background: darkgrey;
  font-family: $primary-font-family;
  margin: 0;
  padding: 0;

  .container {
    height: 100vh;
  }

  .black {
    background: $black-theme-background-color;
    color: $black-theme-text-color;
  }
}

.overflow {
  width: 100%;
  height: 200px;
  overflow-x: scroll;
}

.city {
  font-size: 53px;
}
